.btn {
    background-color: white;
    border: none; 
    font-size: 19px; /* Set a font size */
    
  }
.btn3 {
    background-color: white;
    border: none; 
    font-size: 17px;
  }
.btn2 {
    background-color: white;
    border: none; 
    font-size: 15px;

  }